# Работа с MongoDB - Основы

Импорты

In [1]:
from pymongo import MongoClient

Клиент, БД, и коллекция

In [2]:
mongo_client = MongoClient('localhost', 27017)
db = mongo_client['my_test_database']
collection = db['my_test_collection']

Посмотрим на список БД

In [5]:
print(mongo_client.list_database_names())

['admin', 'config', 'local', 'my_test_database']

Загрузим словарь в коллекцию

In [4]:
mydict = {"name": "John", "address": "Highway 37"}

x = collection.insert_one(mydict)

Посмотрим на список БД

In [6]:
print(mongo_client.list_database_names())

['admin', 'config', 'local', 'my_test_database']

Загрузим список словарей

In [7]:
mylist = [
    { "name": "Amy", "address": "Apple st 652"},
    { "name": "Hannah", "address": "Mountain 21"},
    { "name": "Michael", "address": "Valley 345"},
    { "name": "Sandy", "address": "Ocean blvd 2"},
    { "name": "Betty", "address": "Green Grass 1"},
    { "name": "Richard", "address": "Sky st 331"},
    { "name": "Susan", "address": "One way 98"},
    { "name": "Vicky", "address": "Yellow Garden 2"},
    { "name": "Ben", "address": "Park Lane 38"},
    { "name": "William", "address": "Central st 954"},
    { "name": "Chuck", "address": "Main Road 989"},
    { "name": "Viola", "address": "Sideway 1633"}
]

In [8]:
x = collection.insert_many(mylist)

Посмотрим на список загруженных id

In [9]:
for ids in x.inserted_ids:
    print(ids)

682f6c42aee622195a90bc7c
682f6c42aee622195a90bc7d
682f6c42aee622195a90bc7e
682f6c42aee622195a90bc7f
682f6c42aee622195a90bc80
682f6c42aee622195a90bc81
682f6c42aee622195a90bc82
682f6c42aee622195a90bc83
682f6c42aee622195a90bc84
682f6c42aee622195a90bc85
682f6c42aee622195a90bc86
682f6c42aee622195a90bc87

Посмотрим на коллекцию

In [10]:
for x in collection.find():
    print(x)

{'_id': ObjectId('682f6bf7aee622195a90bc7b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('682f6c42aee622195a90bc7c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('682f6c42aee622195a90bc7d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('682f6c42aee622195a90bc7e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('682f6c42aee622195a90bc7f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('682f6c42aee622195a90bc80'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('682f6c42aee622195a90bc81'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('682f6c42aee622195a90bc82'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('682f6c42aee622195a90bc83'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('682f6c42aee622195a90bc84'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('682f6c42aee622195a90bc85'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('682f6c42aee622195a90bc86'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('682f6c42aee622195a90bc87'), 'name': 'Viola', 'address': 'Sideway 1633'}

Ограничим выгрузку

In [11]:
limit = 5
for x in collection.find().limit(limit):
    print(x)

{'_id': ObjectId('682f6bf7aee622195a90bc7b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('682f6c42aee622195a90bc7c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('682f6c42aee622195a90bc7d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('682f6c42aee622195a90bc7e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('682f6c42aee622195a90bc7f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

Сделаем запросы с параметрами

In [12]:
# filter by address begins with S or further alphabetically.
q = {"address": { "$gt": "S" }}

for x in collection.find(q):
    print(x)

{'_id': ObjectId('682f6c42aee622195a90bc7e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('682f6c42aee622195a90bc81'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('682f6c42aee622195a90bc83'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('682f6c42aee622195a90bc87'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
# filter by address start from 'S'
q = { "address": { "$regex": "^S" } }

for x in collection.find(q):
    print(x)

{'_id': ObjectId('682f6c42aee622195a90bc81'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('682f6c42aee622195a90bc87'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [14]:
# sort by name ascending
for x in collection.find().sort('name', 1):
    print(x)

{'_id': ObjectId('682f6c42aee622195a90bc7c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('682f6c42aee622195a90bc84'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('682f6c42aee622195a90bc80'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('682f6c42aee622195a90bc86'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('682f6c42aee622195a90bc7d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('682f6bf7aee622195a90bc7b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('682f6c42aee622195a90bc7e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('682f6c42aee622195a90bc81'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('682f6c42aee622195a90bc7f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('682f6c42aee622195a90bc82'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('682f6c42aee622195a90bc83'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('682f6c42aee622195a90bc87'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('682f6c42aee622195a90bc85'), 'name': 'William', 'address': 'Central st 954'}

In [15]:
# sort by name descending
for x in collection.find().sort('name', -1):
    print(x)

{'_id': ObjectId('682f6c42aee622195a90bc85'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('682f6c42aee622195a90bc87'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('682f6c42aee622195a90bc83'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('682f6c42aee622195a90bc82'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('682f6c42aee622195a90bc7f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('682f6c42aee622195a90bc81'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('682f6c42aee622195a90bc7e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('682f6bf7aee622195a90bc7b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('682f6c42aee622195a90bc7d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('682f6c42aee622195a90bc86'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('682f6c42aee622195a90bc80'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('682f6c42aee622195a90bc84'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('682f6c42aee622195a90bc7c'), 'name': 'Amy', 'address': 'Apple st 652'}

Вставим сложные объекты в ту же коллекцию

In [16]:
mydict = { "names": ["John", "Jane", "Ann"], "address": "Highway 37" }

x = collection.insert_one(mydict)

In [17]:
for x in collection.find():
    print(x)

{'_id': ObjectId('682f6bf7aee622195a90bc7b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('682f6c42aee622195a90bc7c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('682f6c42aee622195a90bc7d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('682f6c42aee622195a90bc7e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('682f6c42aee622195a90bc7f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('682f6c42aee622195a90bc80'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('682f6c42aee622195a90bc81'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('682f6c42aee622195a90bc82'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('682f6c42aee622195a90bc83'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('682f6c42aee622195a90bc84'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('682f6c42aee622195a90bc85'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('682f6c42aee622195a90bc86'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('682f6c42aee622195a90bc87'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('682f6cceaee622195a90bc88'), 'names': ['John', 'Jane', 'Ann'], 'address': 'Highway 37'}

In [18]:
mydict = { "names": ["John", "Jane", "Ann"], "address": {'full': 'full address', 'brief': 'brief address'} }

x = collection.insert_one(mydict)

In [19]:
for x in collection.find():
    print(x)

{'_id': ObjectId('682f6bf7aee622195a90bc7b'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('682f6c42aee622195a90bc7c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('682f6c42aee622195a90bc7d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('682f6c42aee622195a90bc7e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('682f6c42aee622195a90bc7f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('682f6c42aee622195a90bc80'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('682f6c42aee622195a90bc81'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('682f6c42aee622195a90bc82'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('682f6c42aee622195a90bc83'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('682f6c42aee622195a90bc84'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('682f6c42aee622195a90bc85'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('682f6c42aee622195a90bc86'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('682f6c42aee622195a90bc87'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('682f6cceaee622195a90bc88'), 'names': ['John', 'Jane', 'Ann'], 'address': 'Highway 37'}
{'_id': ObjectId('682f6ceaaee622195a90bc89'), 'names': ['John', 'Jane', 'Ann'], 'address': {'full': 'full address', 'brief': 'brief address'}}

[Больше примеров подробных запросов в системе MongoDB](https://www.mongodb.com/docs/manual/tutorial/query-array-of-documents/)